body {
  background-color: #011f3f;
  text-align: center;
  margin: auto;
  height: 450px;

  /* remover cor azul em duplo clique */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  border-radius: 90%;
  background-color: none;
  width: 500px;
  height: 500px;
  margin: auto;
}

.row {
  justify-content: center;
  padding-top: 0;
}

.btn {
  height: 200px;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin-left: 16px;
  margin-top: 16px;
}

.green {
  background-color: green;
}

#green {
  border-radius: 100% 3% 3% 3%;
  margin: 0px;
}

.red {
  background-color: red;
}

#red {
  border-radius: 3% 100% 3% 3%;
}

.yellow {
  background-color: yellow;
}

#yellow {
  border-radius: 3% 3% 3% 100%;
  margin-left: 0;
}

.blue {
  background-color: blue;
}

#blue {
  border-radius: 3% 3% 100% 3%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.btn :hover {
  box-shadow: 0 0 0 black;
}

#green:active,
#red:active,
#yellow:active,
#blue:active {
  box-shadow: 0 0 20px white;
  border: 1px solid #585b66;
  opacity: 0.9;
}

#green:hover,
#red:hover,
#yellow:hover,
#blue:hover,
.hover {
  box-shadow: 0 0 30px #97afa2;
  border: 1px solid #979caf;
}


.transparente {
  background-color: #011f3f;
  width: 200px;
  height: 200px;
  position:relative;
  text-align:center;
  border-radius: 50%;
  float:inline-end;
  margin-bottom: -116px;
  margin-left: 150px;
  margin-top: -316px;
}